<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
    <% include partials/customCss %>
</head>

<body>
    <div class="container admin-panel-form">
        <div class="custom-container">
            <div class="row">
                <div class="col-md-7 welcome-title">
                    <h3>Welcome back <%= info.currentUser.name %></h3>
                </div>
                <div class="col-md-5 text-right admin-icons">
                    <a href="/adminEditUser/<%= info.currentUser._id %>"><h4><i class="fa fa-user-circle" aria-hidden="true"></i> Account</a>
                    <a style="padding-left:20px" href="/login"><i class="fas fa-sign-out-alt"></i> Log out</h4></a>
                </div>
            </div>

            <div class="row mt-40">
                <div class="col-md-3 admin-custom-box">
                    <a href="/adminUserView">
                        <div class="admin-panel-icon">
                            <i class="fas fa-clipboard-list"></i><br><p>Users</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 admin-custom-box">
                    <a href="/clients">
                        <div class="admin-panel-icon">
                            <i class="fas fa-edit"></i><br><p>Clients</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 admin-custom-box" >
                    <a href="/adminUserAdd">
                        <div class="admin-panel-icon">
                            <i class="fas fa-user-plus"></i><br><p>New user</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a href="/AddAClient">
                        <div class="admin-panel-icon">
                            <i class="fas fa-user-edit"></i><br><p>New client</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-md-6 offset-md-3" style="text-align: center">
                    <a href="/assignments">
                        <div class="admin-panel-icon">
                            <i class="fas fa-user-edit"></i><br><p>Assignments</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer mt-40">
                <div class="col-md-6 offset-md-3 text-center">
                    <p>© 2019 Copyright By Apollo Team</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>