<!doctype html>
<html>

<head>
    <% include partials/head %>
    <% include partials/customCss %>
</head>

<body>
    <div class="container admin-panel-form">
        <div class="custom-container">
            <h2 align="center">User List</h2>
            <div class="row">
                <div class="col-md-6">
                    <a href="/clients"><i class="fas fa-chevron-left"></i> Back</a>
                </div>
            </div>

            <table class="table custom-table mt-20">
                <tr>
                    <th>Date created</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                <% props.forEach(function(item) { %>
                <tr>
                    <td><%= item.user.stringCreated %></td>
                    <td><%= item.user.name %></td>
                    <td><%= item.user.email %></td>
                </tr>
                <% }) %>
            </table>

            <div class="footer mt-40">
                <div class="col-md-6 offset-md-3 text-center">
                    <p>© 2019 Copyright By Apollo Team</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>