<!doctype html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>
        <a href="/adminPanel" class="btn btn-default"><span class="fa fa-user"></span> Admin Panel</a>
        
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>

        <a href="/users" class="btn btn-default"><span class="fa fa-user"></span> Users List</a>
        <a href="/clients" class="btn btn-default"><span class="fa fa-user"></span> CLient List</a>
    </div>

</div>
</body>
</html>